<% provide :title, "Device" %>
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row review-content">
            <div class="col-md-4">
              <%= image_tag(@device.image.url(:default), title: @device.name,
                alt_text: @device.name, class: "media-object") %>
              <h4><%= @device.name.html_safe %></h4>
            </div>

            <div class="col-md-8">
              <div class="center">
                <h3>Notable Features</h3>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Screen</b>
                </div>
                <div class="col-md-8">
                  <%= @device.screen %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Chipset</b>
                </div>
                <div class="col-md-8">
                  <%= @device.chipset %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>CPU</b>
                </div>
                <div class="col-md-8">
                  <%= @device.CPU %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>GPU</b>
                </div>
                <div class="col-md-8">
                  <%= @device.GPU %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>RAM</b>
                </div>
                <div class="col-md-8">
                  <%= @device.RAM %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Operation System</b>
                </div>
                <div class="col-md-8">
                  <%= @device.OS %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Main Camera</b>
                </div>
                <div class="col-md-8">
                  <%= @device.main_camera %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Sub Camera</b>
                </div>
                <div class="col-md-8">
                  <%= @device.sub_camera %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Internal Memory</b>
                </div>
                <div class="col-md-8">
                  <%= @device.internal_memory %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>External Memory</b>
                </div>
                <div class="col-md-8">
                  <%= @device.external_memory %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Battery</b>
                </div>
                <div class="col-md-8">
                  <%= @device.battery %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-4">
                  <b>Other</b>
                </div>
                <div class="col-md-8">
                  <% if @device.content.present? %>
                    <%= @device.content %>
                  <% else %>
                    N/A
                  <% end %>
                </div>
              </div>
              <br>
            </div>
          </div>

          <div class="center">
            <hr>
            <%= link_to "Back to All Devices", devices_path, class: "btn btn-default" %>
          </div>
        </div>

        <div class="col-md-4">
          <div id="sidebar">
            <div class="hot-review">
              <h3 class="center">Hot Reviews of the Month</h3>
              <%= render partial: "reviews/hot_review", collection: @hot_reviews %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
